# this is meant to be installed under /etc/systemd/system
[Unit]
Description=testbed accounts manager - manages unix accounts and their authorized_keys

[Service]
ExecStart=/bin/bash -c "rhubarbe-accountsmanager"
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
