# this is meant to be installed under /etc/systemd/system
[Unit]
Description=testbed nodes probe - reports to sidecar using socketio

[Service]
ExecStart=/bin/bash -c "rhubarbe-monitor -a --sidecar-url http://r2lab.inria.fr:999/"

[Install]
WantedBy=multi-user.target
