# this is meant to be installed under /etc/systemd/system
[Unit]
Description=testbed leases probe - reports to sidecar using websockets

# add -v option to get more details
# also available is
#  --sidecar-url wss://r2lab.inria.fr:999/
[Service]
ExecStart=/bin/bash -c "rhubarbe-monitorleases -v"
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
