[Unit]
Description=acquire all relays temperatures

# keep backups during two months
[Service]
ExecStart=/bin/bash -c "rhubarbe relay store-temperatures"
