[Unit]
Description=acquire all relays temperatures on an hourly basis

[Timer]
OnCalendar=*-*-* *:0/15
Unit=relaystemperatures.service

[Install]
WantedBy=multi-user.target