[Unit]
Description=acquire all relays temperatures on an hourly basis

[Timer]
OnCalendar=*-*-* *:01
Unit=relaystemperatures.service

[Install]
WantedBy=multi-user.target