[
  {
    "adb_bin": "/usr/local/bin/adb",
    "gw_user": "tester",
    "gw_host": "macphone",
    "gw_key": "/home/faraday/r2lab-embedded/mac-ssh-keys/macphone",
    "adb_id": "062337da0051af9f",
    "id": 1
  }
]
